:root {
  --primary-01: hsl(185, 75%, 39%);
  --primary-02: hsl(227, 10%, 46%);
  --primary-03: hsl(229, 23%, 23%);

  --secondary--01: hsl(0, 0%, 59%);
}
body {
  margin: 0;
  padding: 0;
  background-image: url("/images/bg-pattern-top.svg"),
    url("/images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 80%, 95%;
  background-position: top -15% left -100%, bottom 20% right -850%;
  background-color: var(--primary-01);
  font-family: "Kumbh Sans", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 25px;
}
.profile {
  border-radius: 25px;
  min-height: 500px;
  min-width: 325px;
}

.container .profile .header {
  min-height: 150px;
  background-image: url("/images/bg-pattern-card.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.container .profile .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.container .profile .body .name {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0 0 0;
}
.container .profile .body .name .age {
  color: var(--primary-02);
  padding-left: 10px;
}
.container .profile .body .location {
  margin: 10px 0 20px 0;
  color: var(--secondary--01);
  letter-spacing: 1.5px;
}
.container .profile .body img {
  border-radius: 100px;
  padding: 5px;
  margin-top: -17%;
  padding: 5px;
  background-color: white;
}
.container .profile .footer {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid lightgray;
  border-radius: 0 0 15px 15px;
  padding: 25px 0 20px 0;
}
.container .profile .footer .infos {
  min-width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .profile .footer .infos .counter {
  font-size: 18px;
  margin: 0px;
  font-weight: 700;
}
.container .profile .footer .infos .label {
  color: var(--secondary--01);
  margin-top: 5px;
  font-size: 12px;
  letter-spacing: 1.5px;
}

@media (min-width: 1440px) {
  .container {
    background-image: url("/images/bg-pattern-top.svg"),
      url("/images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 80.5%, 80.5%;
    background-position: top 170% left -160%, bottom 160% right -155%;
    background-color: var(--primary-01);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile {
    max-height: 500px;
    max-width: 350px;
  }
}
